.Form-container {
  margin-top: 10%;
  margin-bottom: 20%;
}

.choose-button {
  margin-top: 30px;
  border-radius: 20px;
  width: 200px;
  height: 30px;
}

.choose-label {
  font-size: 30px;
}

.Question-select {
  width: 200px;
  height: 30px;
  border-radius: 20px;
}